body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}


body {
  background-color: black;
  margin: 0;
}

#box {
  font-size: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: black;

}

.title {
  color: var(--secondary);
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#parent {
  font-size: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  min-height: 100vh;
}


#child {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: 2px solid var(--secondary);
  width: 300px;
  height: 500px;
  box-shadow: 20px 20px 30px var(--fourthary);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}


.img {
  height: 198px;
  width: 198px;
  object-fit: cover;
  background-color: whitesmoke;
  border: 2px solid var(--secondary);
  border-radius: 20px;
}


#text {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  background-color: transparent;
  text-align: center;
}


